run = "mvn spring-boot:run"
hidden = ["**/*.class", "target", "**/.*"]

[packager]
language = "java"

[packager.features]
packageSearch = true

[languages.java]
pattern = "**/*.java"

[languages.java.languageServer]
start = "jdt-language-server"

[nix]
channel = "stable-22_11"

[debugger]
support = false

[[ports]]
localPort = 8080
externalPort = 80
